body {
  background-color: #354020;

}

#searchbox {
position: absolute;
margin-top: -32px;
}


#main-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  /*height: 47px;*/
 /* background-image: -webkit-linear-gradient(top, #517fa4, #306088);*/
 background-color: #fff;
  box-shadow: 2px 3px 10px rgba(50, 50, 50, 0.75);
  z-index: 900;
  color: #5a7d3d;
}

#a {
  color: #5a7d3d;
}

.narbar-brand {
  font-variant: small-caps;
}

.navbar-inverse {
  color: #5a7d3d;
  background-color: #5a7d3d;
}

.nav-header {
  color: #5a7d3d;
  color: #5a7d3d;
}

.cardnav {
display: -webkit-inline-box;
position: absolute;
background-color: darkolivegreen;
color: black;
width: 100%;
border-radius: 10px;
}

#cards-container {
  text-align: center;
 /* max-width: 1080px;*/
 max-width: 100%;
  margin: 0 auto;
  background-color: #0F1602;
  margin-top: 52px;
}

.namestate{
  color: white;
}

.navlogo {
  width: 130px;
  height: 50px;
  margin-top: -15px;
  margin-left: -15px;
  color: #5a7d3d;
}

.nav-color {
 color: #5a7d3d;
}

.maintitle{
/*  font-size:13px;
color:#fff;
  text-shadow: .5px .5px 0 #fff,
-1px -1px 0 #000,
1px -1px 0 #000,
-1px 1px 0 #000,
0px 1px 0 #000,
1px 0px 0 #000,
0px -1px 0 #000,
-1px 0px 0 #000,
4px 4px 3px #000;*/
  /* WebKit (Safari/Chrome) Only */
/*  -webkit-text-stroke: .1px white;*/
  
  /* If we weren't using text-shadow, we'd set a fallback color
     and use this to set color instead
    -webkit-text-fill-color: white; */
  
/*  color: black;*/
  

  /*text-shadow:
    0px 0px 0 #fff,
  
   -.1px -.1px 0 #000,  
    .1px -.1px 0 #000,
   -.1px  .1px 0 #000,
    .1px  1px 0 #000;*/
    font-weight: 100;
    font-size: 12px;
background-color: darkolivegreen;
/*background-color: rgba(54, 25, 25, .8);*/

}

.card {
  position: relative;
  display: inline-block;
  width: 280px;
  height: 310px;
  background-size: cover;
  /*background size contain or cover works great*/
  background-repeat: no-repeat;
  /*border: 1px solid #222;*/
  border: 1px solid #354020;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  color: white;
  /*outline-style: solid;  
  outline-color: black;*/
  font-weight: lighter;

}

.lightbox {
  position: fixed;
  left: 50%;
  top: 75px;
  width: 75%;
  height: 515px;
  margin: 0 0 0 -37.5%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 20px;
  font-family: sans-serif;
  font-weight: lighter;
}

.poster {
 width: 100%;
 height: 23em;
 border-radius: 20px 20px 0 0;
 background-size: cover;
 position: absolute;
 background-repeat: no-repeat;
 top: 0;
}

.name {
  position: absolute;
  left: 15px;
  top: 325px;
  width: 90%;
  overflow: hidden;
  font-weight: bold;
  color: black;
  text-align: left;
  white-space: nowrap;
  text-decoration: underline;
}

.youtube {
  position: absolute;
   text-align: left;
  white-space: nowrap;
}

.youtubePic1{
  position:  absolute;
}

.youtubePic {
  position: absolute;
  height: 40px; 
  width: 40px; 
  margin-top: 125px; 
  border: 2px dotted black;
 border-radius: 20px;
 margin-left: -8px;
}
.wiki {
  position: absolute;
  height: 35px;
  width: 35px;
  overflow: hidden;
  text-align: left;
overflow: hidden;

}

/*.state {
   position: absolute;
  left: 72%;
  top: 375px;
  width: 90%;
  overflow: hidden;
  font-weight: bold;
  color: #aaa;
  text-align: left;
  white-space: nowrap;
}*/
.created {
  position: absolute;
  left: 15px;
  top: 340px;
  width: 90%;
  overflow: hidden;
  font-weight: bold;
  color: #aaa;
  text-align: left;
  white-space: nowrap;
}

.gps {
  position: absolute;
  left: 15px;
  top: 357px;
  width: 90%;
  overflow: hidden;
  font-weight: bold;
  color: black;
  text-align: left;
  white-space: nowrap;
}

.facts {
  position: absolute;
  left: 15px;
  top: 377px;
  width: 90%;
  height: 130px;
  overflow-y: scroll;
  color: black;
  text-align: left;
}

.wikiPic {

}

#mask {
  position: fixed;
  display: none;
  opacity: .8;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
}

#mask-container {
  display: none;
}

#lightbox-container {
  display: none;
}
